body {
    margin: 0;
    padding: 0;
  }
  .container {
    height: 100vh; /* Set height to 100% of the viewport height */
    min-height: 100vh; /* Ensure a minimum height of the viewport height */
    width: 100vw; /* Set width to 100% of the viewport width */
    background-color: #9900ff;
    background: linear-gradient(to right, #9900ff, #cc80ff);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
 /* Include padding and border in the total width/height */
  }
  
  .innerBox {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    color:black;
    display:flex;
    flex-direction:column;
    gap:30px;

  }
  .footer{
    display:flex;
    flex-direction:column;
    gap:10px;


  }
  .footer .errorMsg{
    font-weight:bold;
    font-size:0.875rem;
    color:#ff0000;
    align-self: center;
  }
  .footer button{
    outline:none;
    border:none;
    background-color:#9900ff;
    color:#fff;
    border-radius:5px;
    font-weight:bold;
    font-size:1rem;
    padding:10px 16px;
    width:100%;
    transition:100ms;
    cursor: pointer;
  }
  .footer button:disabled{
    background-color:gray !important ;
  }
  .footer button:hover{
    background-color: #cc80ff;
  }
  .footer p{
    font-weight:700;
    color:#000;
  }
  .footer p span a{
    font-weight:bold;
    color:#9900ff;
    letter-spacing: 1px;
    font-size:1rem; ;

  }
