.container{
    display:flex;
    flex-direction:column;
    gap:8px;
    align-items: centre;
}
.container label{
    font-weight:700;
    font-size: 1 rem;
    color:#4b4b4b;
    align-self: flex-start;
    

}
.container input{
    border-radius: 5px;
    border:1px solid  #eee;
    outline:none;
    padding:10px 15px;
    color:#000;
    background-color: antiquewhite;

}
.container input:hover{
    border-color:#ccc;
}
.container input:focus{
    border-color:#9900ff;
}